<!DOCTYPE html>
<html>
  <head>
    <title>Warframe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Warframe Items</h1>
      <div class="topnav">
        <%= link_to 'Home', root_path %>
        <%= link_to 'About', 'about' %>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p>Copyleft 2018</p>
    </footer>
  </body>
</html>
